/* Body styles */
body {
    padding-top: 71px; /* Adjust for fixed navbar */
    font-family:'Courier New', Courier, monospace, Helvetica, sans-serif;
    background-color: #0d0e23; /* Black background */
    color: #ffffff; /* White text color */
}
p{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
}
li{
    font-size: 20px;
}
  
.responsive-image {
width:100%; /* Full width of the container */
display: flex;
justify-content: center; /* Center the image horizontally */
align-items: center; /* Center the image vertically if needed */
overflow: hidden; /* Hide overflow if the image is too large */
  height: 2%;
  display: flex;
  object-fit: cover; /* Ensures the image covers the entire container without distortion */
  display: block; /* Removes any extra spacing around the image */
  }
/* Navbar styles */

.navbar {
    background-color: rgba(0, 0, 0, 0.9); /* Black background with 50% opacity */
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    z-index: 1000; /* Ensures the navbar stays on top */
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin: 0 1rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ddd;
  }

.navbar-brand {
    font-size: 2.5rem; /* Larger font size for brand */
    color: #000000; /* Black text color */
    transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover {
    transform: translateY(-5px); /* Move up slightly */
}
.nav-item {
    width: 350px;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-item:hover {
    transform: translateY(-5px); /* Move up slightly */
  }

.navbar-nav {
    text-align: center; /* Center align navbar items */
}

.navbar-nav .nav-link {
    color: #000000; /* Black text color */
    font-size: 1.1rem; /* Font size */
    text-transform: uppercase; /* Uppercase text */
    margin: 0 1px; /* Add spacing between links */
    }
    .navbar-nav .nav-item .nav-link {
        margin: 0 5px; /* Adjust the margin as needed */
    }
    

.navbar-nav .nav-link:hover {
    color: black; /* Orange hover color */
}

/* Content section styles */
.content {
    display: none; /* Hide content initially */
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow */
    margin-top: 20px; /* Space between sections */
}

.content h2 {
    font-size: 2rem; /* Large heading size */
    margin-bottom: 10px; /* Bottom margin */
    color: #ffffff; /* White heading color */
    padding: 20px;
}

.content p {
    line-height: 1.6; /* Line height for readability */
    padding: 20px;
}

.content ol {
    margin-top: 10px; /* Top margin for ordered lists */

}

/* Icon styles */
.nav-link i {
    margin-right: 5px; /* Adjust icon margin */
    color: #000000; /* White icon color */
    font-size: 2rem;
    vertical-align: middle;
}

.upload-btn:active {
    transform: translateY(2px);
    box-shadow: none; /* Optional: Remove box-shadow */
}
.preview-container {
    text-align: center; /* Center the image horizontally */
  }

  #preview {
    max-width: 150px; /* Adjust the maximum width */
    max-height: 150px; /* Adjust the maximum height */
    display: none; /* Hide the image initially */
    margin: auto; /* Center the image horizontally */
  }

  .btn-custom-p {
    background-color: #682b7e;
    border-color: #682b7e;
    color: white; /* Text color */
  }

  .btn-custom-p:hover {
    background-color: white;
    border-color: #682b7e;
    color: #682b7e; /* Text color */
  }
